@{
    ViewBag.Title = "LiveView for " + ViewBag.Source;
}
@Scripts.Render("~/bundles/cookies")

<script type="text/javascript">

    $(document).ready(function () {

        var source = "@ViewBag.Source";

        if (source == "") {
            source = getCookie("source");
        }
        else {
            setCookie("source", source, 60);
        }

        loadGraphs(source);


    });

</script>

<div id="header">
    <h2>LiveView Statistics for @ViewBag.Source</h2>
</div>

<div class="table-container">
    <div class="row">
        <div class="graph-container">
            <p> Hit Percentage </p>
            <div id="HitPercentage" class="graph"></div>
        </div>
        <div class="graph-container">
            <p> Time Taken </p>
            <div id="TimeTaken" class="graph"></div>
        </div>
    </div>

    <div class="row">
        <div class="graph-container">
            <p> Accuracy </p>
            <div id="Accuracy" class="graph"></div>
        </div>
        <div> 
            <p id="TotalUsers">Total amount of users: </p>
            <p id="TotalAttempts">Total amount of attempts: </p>
            <p id="AttemptsPerTechnique"> Attempts per Technique: </p>

            <hr />

            @Html.ActionLink("Data (SPSS)", "GetData", new { data = "spss", source = ViewBag.Source })
            @Html.ActionLink("Data (CSV)", "GetData", new { data = "csv", source = ViewBag.Source })

            <hr />

            @Html.ActionLink("Old Data", "Index", new { source = "Old" })
            @Html.ActionLink("Target Data", "Index", new { source = "Target" })
            @Html.ActionLink("Field Data", "Index", new { source = "Field" })

        </div>
    </div>

</div>